.main {
  display: grid;
  grid-template:
    'header header'
    'sider editor' / 2fr 3fr;
}

.header {
  grid-area: header;
}

.sider {
  grid-area: sider;
}

.editor-workplace {
  grid-area: editor;
  padding: 20px;
  background-color: #d7d7d7;
  aspect-ratio: 1 / 1.6;
}
