.draggable {
  position: relative;
  border-radius: 0.25rem;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  padding: 5px;

  &--selected,
  &:hover {
    outline: 1px solid rgb(17 105 199);
  }

  &__selector {
    position: absolute;
    bottom: -40px;
    left: calc(50% - 10px);
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
}

.editable-box {
  font-size: 12px;
  font-family: sans-serif;

  &__input {
    outline: 1px solid white;
    border: none;
    background: none;
    width: 100%;
    resize: none;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    overflow: hidden;

    &:focus-visible {
      outline: 1px solid yellow;
    }
  }

  &__static {
    cursor: default;
  }

  &--enabled {
    /* stylelint-disable-next-line selector-class-pattern */
    .editable-box__static {
      &:hover {
        outline: 1px solid white;
      }
    }
  }
}

.resizer {
  position: absolute;
  border-radius: 10px;
  background: rgb(5 98 203);
}

.resizable {
  &--enabled {
    .resizer {
      &--r {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        max-height: 2rem;
        height: 30%;
        width: 0.25rem;
        cursor: e-resize;
      }

      &--b {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        height: 0.25rem;
        max-width: 2rem;
        width: 30%;
        cursor: n-resize;
      }
    }
  }
}

.draggable.enabled:hover .resizer {
  background: rgb(99 102 241);
}
