.multi-box {
  height: fit-content;
  width: fit-content;
}

.draggable {
  position: relative;
  border: 1px solid rgb(203 213 225);
  border-radius: 0.25rem;
  background-color: red;
  height: 100px;
  width: 100px;

  &__selector {
    position: absolute;
    bottom: -40px;
    left: calc(50% - 10px);
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
}

.editable-box {
  &__input {
    width: 100%;
    resize: none;
    background: none;
    border: none;

    &:focus-visible {
      outline: 1px solid yellow;
    }
  }
}

.resizer {
  position: absolute;
  background: transparent;

  &--r {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    height: 2rem;
    width: 0.25rem;
    cursor: e-resize;
  }

  &--b {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 0.25rem;
    width: 2rem;
    cursor: n-resize;
  }
}

.draggable.enabled:hover .resizer {
  background: rgb(99 102 241);
}
