.multi-box {
  position: relative;
  width: fit-content;
  height: fit-content;

  &__selector {
    position: absolute;
    bottom: -7px;
    right: -7px;
    border: 1px solid #5d93ff;
    border-radius: 50%;
    background-color: white;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
}

.draggable {
  background-color: red;
  height: 100px;
  width: 100px;
  border: 1px solid rgb(203 213 225);
  border-radius: 0.25rem;
}

.resizer {
  position: absolute;
  background: transparent;

  &--r {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    height: 2rem;
    width: 0.25rem;
    cursor: col-resize;
  }

  &--b {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 0.25rem;
    width: 2rem;
    cursor: row-resize;
  }
}

.draggable.enabled:hover .resizer {
  background: rgb(99 102 241);
}
